@media screen and (min-width: 640px){
    .offerscontainer {
        width: 100%;
        margin: 1rem auto;
        background-color: white;
        border-radius: 50px;
    }
    
    .whatweoffer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        margin: 0 auto;
        gap: 30px;
        padding-bottom: 3rem;
    }    

    .herobuttons a {
        height: 40%;
        width: 150px;
    }
    
    .herobuttons a:hover {
        background-color: #d3d9d48c;
        transform: scale(1.05);
    }
    
    .herobuttons a:last-of-type {
        background-color: transparent;
        border: 1px solid #D3D9D4;
        margin-left: 10px;
        color: #D3D9D4;
    }
    
    .herobuttons a:last-of-type:hover {
        background-color: #d3d9d48c;
        color: #2e3944;
    }

}