*{
    box-sizing: border-box;
}

body, html {
    margin: auto;
    height: auto;
    font-family: 'Belanosima';
}

header{
    background-color: #032d47;
    color: white;
    padding: 10px;
    height: 120px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1{
    font-size: 20px;
    font-weight: 100;
}

.name{
    color: yellow;
}

nav{
    margin: 0 auto;
    display: block;
    background-color: black;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}

ul{
    margin: 0 auto;
    padding: 0;
    display: flex;
    /* align-items: center; */
}

ul>li{
    text-align: center;
    display: block;
    flex: 1 1 100%;
}

ul>li>a:hover {
    background-color: white;
    color: black;
}

ul>li>a{
    width: 100%;
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: white;
    font-weight: lighter;
}

main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: auto;
    gap: 20px;
    padding: 20px;
}

.card:nth-of-type(1){
    grid-column: 1/2;
}

.card:nth-of-type(1) p{
    /* background-color: red; */
}

.card:nth-of-type(2){
    grid-column: 2/3;
}

.card{
    border: 1px solid #8f8f8f;
    border-radius: 8px;
}

.card h1{
    margin-top: auto;
    font-size: 19px;
    font-weight: 100;
    text-align: center;
    background-color: #032d47;
    color: white;
    padding: 20px 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.profile-container{
    display: flex;
    margin: 10px 15px;
}

.profile{
    margin: 0 15px;
}

.profile p{
    font-weight: 100;
    line-height: 1.5;
}

.profile h2{
    margin: 15px auto;
    text-align: center;
    border-bottom: 1px solid #8f8f8f ;
    width: 50%;
    padding-bottom: 5px;
}

.image-container{
    width: 550px;
}

.image-container img{
    width: 100%;
    border-radius: 8px;
}

.location {
    display: flex;
    flex-direction: row-reverse;
}

.location p{
    margin: 15px;
}

.location-image-container{
    display: grid;
    place-items: center;
    width: 100%;
    margin: 10px;
}

.location-image-container img {
    margin: 10px;
    width: 100%;
}

.location-image-container .figcaption {
    font-family: "Times new roman";
    font-style: italic;
}

footer{
    /* display: flex;
    flex-direction: column;
    place-items: center; */
    background-color: #032d47;
    padding: 10px;
    height: 120px;
}

footer p {
    text-align: center;
    color: white;
}

#currentyear {
    color: white;
}